.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272822;
}

.toolbar .left-button {
    float: left;
}

.toolbar .right-button {
    float: right;
}

.toolbar li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
}

.toolbar li button:hover {
    background-color: #111;
}

.toolbar h4 {
    margin-left: 10px;
}